/*========= CORE ============ V ==== START ================*/
@font-face {
  font-family: "Impact", sans-serif;
  src: url(../fonts/impact.woff2);
}
body {
  font-family: "Roboto Condensed", sans-serif;
  color: #040404;
  line-height: 1.2;
  font-size: 14;
  font-weight: 400;
}
[class*="__container"] {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}
[class*="__wrapper"] {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 10px;
}
/*=============== CORE ====== ^ ============ END ==========*/
/*========= HEDER ============ V ==== START ================*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #d8d4ca 0%, rgba(217, 217, 217, 0) 100%);
}
.header__container {
}
.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  
}
.header__burger{
  display: none;
}
.nav-header__menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}
.nav-header__menu-list-left {
}
.nav-header__menu-item {
}
.nav-header__menu-link {
  color: #363636cd;
  font-size: 16px;
}
.header__logo {
}
.logo-header__image {
}
.nav-header__menu-right {
}
/*=============== HEADER ====== ^ ============ END ==========*/
/*========= PROMO ============ V ==== START ================*/
.promo {
  background: #bf83834f url(../images/promo.jpg);
  height: 100vh;
  background-size: cover;
  background-position-y: 3px;
  margin-bottom: 70px;
  background-size: 100vw;
  background-repeat: no-repeat;
}
.promo__container {
}
.promo__title {
  text-align: center;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.title-promo {
  font-family: "Impact", sans-serif;
  font-weight: 400;
  font-size: 6vw;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
}
.sub-title-promo {
  font-family: "Impact", sans-serif;
  font-weight: 400;
  font-size: 5vw;
  border-bottom: 1px solid #040404;
  margin-bottom: 10px;
  align-self: center;
  letter-spacing: 0.1em;
 
}
.sub-title-promo span {
  color: rgb(166, 142, 9);
  font-size: 5vw;
  display: block;
  padding: 10px 0;
  animation-name: span;
  animation-duration: 5.5s;
  animation-iteration-count: infinite;
  
}
@keyframes span {
      0%{color:  rgb(166, 142, 9)}
      50%{color:  rgb(41, 35, 3)}
      100%{color:  rgb(166, 142, 9)}
  }

  


.title-promo__text {
  font-size: 4vw;
  color: #0a0a0b;
  text-shadow: 1px 1px 13px #090000;
  
}
.title-promo__arrow {
  margin-top: auto;
  margin-bottom: 30px;
  width: 40 px;
  align-self: center;
  padding: 5px;
  padding-bottom: 1px;
  border-radius: 50%;
  background-color: #bf83834f;
}

@media (max-width: 843px) {
  .title-promo {
    margin-top: 60px;
  }
  .sub-title-promo,
  .sub-title-promo,
  .title-promo__text {
    background-color: #bf83834f;
  }
  .nav-header__menu-list {
    display: none;
  }
  .header__logo img {
    width: 12vw;
  }
  .header__burger{
    display: block;
  }
}
/*=============== PROMO ====== ^ ============ END ==========*/

/*========= INFO ============ V ==== START ================*/
.info {
  margin-bottom: 100px;
}

.info__content {
  margin-bottom: 57px;
}

.content-info__title {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 300;
}

.info__content-first {
}
.content-info__textbox_1 {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.content-info__text_1 {
  flex: 0 0 400px;
}
.content-info__comment {
  flex: 0 0 400px;
}
.content-info__image_1 {
  overflow: hidden;
}

.info__content-second {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.info__content-third {
  display: flex;
}
.content-info__textbox {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.content-info__text {
  flex: 1 0 300px;
}

.content-info__textbox_3 {
  flex: 1 1 50%;
}
.content-info__table {
  flex: 1 1 50%;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}
/*=============== INFO ====== ^ ============ END ==========*/
